.checkboxContainer {
    height: 24px;
    margin: 0 0 24px 2px;
}

.checkboxContainer > label {
    font-family: Avenir-Medium, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--base-grey);
}

.customCheckbox {
    margin: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.customCheckbox + label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--base-light-grey);
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0 10px 0 3px;
    background-repeat: no-repeat;
    background-position: center center;
}

.customCheckbox + label:hover:before {
    border: 1px solid var(--base-red);
}

.customCheckbox:checked + label::before {
    border-color: var(--base-red);
    background-color: var(--base-red);
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.64624 5.39625C2.45124 5.59125 2.13624 5.59125 1.94124 5.39625L0.146243 3.60125C0.0526164 3.50783 0 3.38101 0 3.24875C0 3.11649 0.0526164 2.98967 0.146243 2.89625C0.341243 2.70125 0.656243 2.70125 0.851243 2.89625L2.29124 4.33625L5.73124 0.89625C5.92624 0.70125 6.24124 0.70125 6.43624 0.89625C6.63124 1.09125 6.63124 1.40625 6.43624 1.60125L2.64624 5.39625Z' fill='white'/%3E%3C/svg%3E");
}
