.notFoundPage {
    background-color: var(--base-white);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFoundPic {
    width: 380px;
    height: 212px;
}

.notFoundText1 {
    font-family: Avenir-Black, sans-serif;
    font-size: 36px;
    line-height: 49px;
    color: var(--base-lightest-red);
    margin: 48px 0 24px 0;
}

.notFoundText2 {
    font-family: Avenir-Book, sans-serif;
    font-size: 24px;
    line-height: 33px;
    color: var(--base-grey);
    margin: 0;
}
